[Desktop Entry]
Name=Plasma Vault module
Name[ca]=Mòdul de Plasma per a Voltes
Name[ca@valencia]=Mòdul de Plasma per a Voltes
Name[en_GB]=Plasma Vault module
Name[es]=Módulo de cajas fuertes para Plasma
Name[hu]=Plasma Vault modul
Name[nl]=Plasma module voor kluis
Name[pl]=Moduł krypty Plazmy
Name[pt]=Módulo do Plasma Vault
Name[sk]=Modul Plasma Vault
Name[sr]=Модул плазма трезора
Name[sr@ijekavian]=Модул плазма трезора
Name[sr@ijekavianlatin]=Modul plasma trezora
Name[sr@latin]=Modul plasma trezora
Name[sv]=Plasma valvmodul
Name[uk]=Модуль сховищ Плазми
Name[x-test]=xxPlasma Vault modulexx
Name[zh_CN]=Plasma 保险库模块
Comment=Provides encrypted vaults
Comment[ca]=Proporciona voltes encriptades
Comment[ca@valencia]=Proporciona voltes encriptades
Comment[en_GB]=Provides encrypted vaults
Comment[es]=Proporciona cajas fuertes cifradas
Comment[hu]=Titkosított tárak
Comment[nl]=Levert versleutelde kluizen
Comment[pl]=Zapewnia zaszyfrowane krypty
Comment[pt]=Fornece 'cofres' encriptados
Comment[sk]=Poskytuje šifrovanú klenbu
Comment[sr]=Даје шифроване трезоре
Comment[sr@ijekavian]=Даје шифроване трезоре
Comment[sr@ijekavianlatin]=Daje šifrovane trezore
Comment[sr@latin]=Daje šifrovane trezore
Comment[sv]=Tillhandahåller krypterade valv
Comment[uk]=Надає доступ до шифрованих сховищ
Comment[x-test]=xxProvides encrypted vaultsxx
Comment[zh_CN]=提供加密的保险库

Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=plasmavault
X-KDE-DBus-ModuleName=plasmavault
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1
OnlyShowIn=KDE;
