[Desktop Entry]
Name=Plasma Vault module
Name[ca]=Mòdul de Plasma per a Voltes
Name[ca@valencia]=Mòdul de Plasma per a Voltes
Name[da]=Sikkerhedsboksmodul til Plasma
Name[el]=Άρθρωμα Plasma για τα θησαυροφυλάκια
Name[en_GB]=Plasma Vault module
Name[es]=Módulo de cajas fuertes para Plasma
Name[fr]=Module Plasma Vault
Name[gl]=Módulo de caixa forte de Plasma
Name[hu]=Plasma Vault modul
Name[it]=Modulo del caveau di Plasma
Name[nl]=Plasma module voor kluis
Name[pa]=ਪਲਾਜ਼ਮਾ ਵਾਲਟ ਮੋਡੀਊਲ
Name[pl]=Moduł krypty Plazmy
Name[pt]=Módulo do Plasma Vault
Name[pt_BR]=Módulo de cofre do Plasma
Name[sk]=Modul Plasma Vault
Name[sl]=Modul shrambe za Plasmo
Name[sr]=Модул плазма трезора
Name[sr@ijekavian]=Модул плазма трезора
Name[sr@ijekavianlatin]=Modul plasma trezora
Name[sr@latin]=Modul plasma trezora
Name[sv]=Plasma valvmodul
Name[tr]=Plazma Kasası modülü
Name[uk]=Модуль сховищ Плазми
Name[x-test]=xxPlasma Vault modulexx
Name[zh_CN]=Plasma 保险库模块
Comment=Provides encrypted vaults
Comment[ca]=Proporciona voltes encriptades
Comment[ca@valencia]=Proporciona voltes encriptades
Comment[el]=Παρέχει κρυπτογραφημένα θησαυροφυλάκια
Comment[en_GB]=Provides encrypted vaults
Comment[es]=Proporciona cajas fuertes cifradas
Comment[fr]=Fournit des coffres-forts chiffrés
Comment[gl]=Fornece caixas fortes cifradas.
Comment[hu]=Titkosított tárak
Comment[it]=Caveau criptati forniti
Comment[nl]=Levert versleutelde kluizen
Comment[pa]=ਇੰਕ੍ਰਿਪਟ ਕੀਤੇ ਵਾਲਟ ਦਿੰਦਾ ਹੈ
Comment[pl]=Zapewnia zaszyfrowane krypty
Comment[pt]=Fornece 'cofres' encriptados
Comment[pt_BR]=Fornece cofres criptografados
Comment[sk]=Poskytuje šifrovanú klenbu
Comment[sl]=Ponuja šifrirane shrambe
Comment[sr]=Даје шифроване трезоре
Comment[sr@ijekavian]=Даје шифроване трезоре
Comment[sr@ijekavianlatin]=Daje šifrovane trezore
Comment[sr@latin]=Daje šifrovane trezore
Comment[sv]=Tillhandahåller krypterade valv
Comment[tr]=Şifreli kasalar sağlar
Comment[uk]=Надає доступ до шифрованих сховищ
Comment[x-test]=xxProvides encrypted vaultsxx
Comment[zh_CN]=提供加密的保险库

Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=plasmavault
X-KDE-DBus-ModuleName=plasmavault
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
X-KDE-Kded-phase=1
OnlyShowIn=KDE;
