[Desktop Entry]
Name=Vaults
Name[ca]=Voltes
Name[es]=Cajas fuertes
Name[nl]=Kluizen
Name[pt]=Cofres
Name[sk]=Klenby
Name[uk]=Сховища
Name[x-test]=xxVaultsxx
Comment=Create encrypted vaults
Comment[ca]=Crea voltes encriptades
Comment[es]=Crear cajas fuertes cifradas
Comment[nl]=Versleutelde kluizen aanmaken
Comment[pt]=Criar cofres encriptados
Comment[sk]=Vytvoriť šifrované klenby
Comment[uk]=Створення шифрованих сховищ
Comment[x-test]=xxCreate encrypted vaultsxx

Icon=plasmavault
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_vault
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic at kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.vault
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

