[Desktop Entry]
Name=Vaults
Name[pt]=Cofres
Name[uk]=Сховища
Name[x-test]=xxVaultsxx
Comment=Create encrypted vaults
Comment[pt]=Criar cofres encriptados
Comment[uk]=Створення шифрованих сховищ
Comment[x-test]=xxCreate encrypted vaultsxx

Icon=document-encrypt
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_plasmavault
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic at kde.org
X-KDE-PluginInfo-Name=plasmavault
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.plasmavault

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

