[Desktop Entry]
Name=Vaults
Name[ar]=الخزنات
Name[az]=Seyflər
Name[bg]=Трезори
Name[ca]=Caixes fortes
Name[ca@valencia]=Caixes fortes
Name[cs]=Sejfy
Name[da]=Sikkerhedsbokse
Name[de]=Vaults
Name[el]=Θησαυροφυλάκια
Name[en_GB]=Vaults
Name[es]=Cajas fuertes
Name[et]=Seifid
Name[eu]=Kutxa gotorrak
Name[fi]=Holvit
Name[fr]=Coffres-forts
Name[gl]=Caixas fortes
Name[hi]=वाल्ट
Name[hu]=Tárak
Name[ia]=Cellarios (Vaults)
Name[id]=Vault
Name[it]=Caveau
Name[ja]=Plasma Vaults
Name[ka]=საცავები
Name[ko]=비밀 공간
Name[lt]=Slėptuvės
Name[nl]=Kluizen
Name[nn]=Datakvelv
Name[pa]=ਵਾਲਟ
Name[pl]=Sejfy
Name[pt]=Cofres
Name[pt_BR]=Cofres
Name[ro]=Bolți
Name[ru]=Зашифрованные папки
Name[sk]=Trezory
Name[sl]=Trezorji
Name[sr]=Трезори
Name[sr@ijekavian]=Трезори
Name[sr@ijekavianlatin]=Trezori
Name[sr@latin]=Trezori
Name[sv]=Valv
Name[tg]=Анборҳои рамзгузорӣ
Name[tr]=Kasalar
Name[uk]=Сховища
Name[x-test]=xxVaultsxx
Name[zh_CN]=保险库
Name[zh_TW]=儲存庫
Comment=Create encrypted vaults
Comment[ar]=أنشئ خزنات معمّاة
Comment[az]=Şifrələnmiş seyf yaratmaq
Comment[bg]=Създаване на криптирани трезори
Comment[ca]=Crea caixes fortes encriptades
Comment[ca@valencia]=Crea caixes fortes encriptades
Comment[cs]=Vytvářejte šifrované sejfy
Comment[da]=Opret krypterede sikkerhedsbokse
Comment[de]=Verschlüsselte Vaults erstellen
Comment[el]=Δημιουργία κρυπτογραφημένων θησαυροφυλακίων
Comment[en_GB]=Create encrypted vaults
Comment[es]=Crear cajas fuertes cifradas
Comment[et]=Krüptitud seifide loomine
Comment[eu]=Sortu zifratutako kutxa gotorrak
Comment[fi]=Luo salattuja holveja
Comment[fr]=Créer des coffres-forts chiffrés
Comment[gl]=Crear caixas fortes cifradas.
Comment[hi]=एनक्रिप्टेड वाल्ट बनाता है
Comment[hu]=Titkosított tárak létrehozása
Comment[ia]=Crea cellarios cryptate
Comment[id]=Ciptakan vault terenkripsi
Comment[it]=Crea caveau criptati
Comment[ja]=暗号化された秘密フォルダを作成
Comment[ka]=შექმენით დაშიფრული სარდაფების შექმნა
Comment[ko]=암호화된 비밀 공간 생성
Comment[lt]=Sukurti šifruotas slėptuves
Comment[nl]=Versleutelde kluizen aanmaken
Comment[nn]=Lag krypterte datakvelv
Comment[pa]=ਇੰਕ੍ਰਿਪਟ ਕੀਤੇ ਵਾਲਟ ਬਣਾਓ
Comment[pl]=Tworzy zaszyfrowane sejfy
Comment[pt]=Criar cofres encriptados
Comment[pt_BR]=Cria cofres criptografados
Comment[ro]=Creează bolți criptate
Comment[ru]=Создание зашифрованных папок
Comment[sk]=Vytvoriť šifrované trezory
Comment[sl]=Ustvari šifrirane trezorje
Comment[sr]=Правите шифроване трезоре
Comment[sr@ijekavian]=Правите шифроване трезоре
Comment[sr@ijekavianlatin]=Pravite šifrovane trezore
Comment[sr@latin]=Pravite šifrovane trezore
Comment[sv]=Skapa krypterade valv
Comment[tg]=Эҷод кардани анборҳои рамзгузорӣ
Comment[tr]=Şifrelenmiş kasa oluştur
Comment[uk]=Створення шифрованих сховищ
Comment[x-test]=xxCreate encrypted vaultsxx
Comment[zh_CN]=创建加密的保险库
Comment[zh_TW]=建立加密過的儲存庫

Icon=plasmavault
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_vault
X-KDE-PluginInfo-Author=Ivan Čukić
X-KDE-PluginInfo-Email=ivan.cukic at kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.vault
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

